/* styles/Home.module.css */

@keyframes slideBackground {
  0% {
    background-image: url('/homeSlider/homeSlider1.jpg');
    background-position: 100% center; /* Start from the right */
  }
  25% {
    background-image: url('/homeSlider/homeSlider2.jpg');
    background-position: 0% center; /* Move to the left */
  }
  50% {
    background-image: url('/homeSlider/homeSlider3.jpg');
    background-position: 100% center; /* Start from the right */
  }
  75% {
    background-image: url('/homeSlider/homeSlider4.jpg');
    background-position: 0% center; /* Move to the left */
  }
  100% {
    background-image: url('/homeSlider/homeSlider5.jpg');
    background-position: 100% center; /* End from the right */
  }
}

.container {
  position: relative;
  background-size: cover; /* Cover the entire container */
  background-position: center center; /* Center the background */
  background-repeat: no-repeat; /* Prevent repeating */
  color: white;
  min-height: 100vh; /* Minimum height of viewport */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
  align-items: flex-start; /* Align items to the start (left) */
  padding-left: 50px; /* Add some padding from the left edge */
  text-align: left; /* Align text to the left */
  overflow: hidden; /* Hide overflow to prevent scrolling */
  z-index: 0; /* Base z-index for stacking context */
  animation: slideBackground 15s linear infinite; /* Add animation for sliding background */
}

.containerAbout {
  position: relative;
  background-size: cover; /* Cover the entire container */
  background-position: center center; /* Center the background */
  background-repeat: no-repeat; /* Prevent repeating */
  color: white;
  min-height: 50vh; /* Minimum height of viewport */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center content */
  align-items: flex-start; /* Align items to the start (left) */
  padding-left: 50px; /* Add some padding from the left edge */
  text-align: left; /* Align text to the left */
  overflow: hidden; /* Hide overflow to prevent scrolling */
  z-index: 0; /* Base z-index for stacking context */
  background-image: url('/homeback.jpeg');
}



.containerColumn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.column {
  flex: 1;
  margin: 10px;
}

.header {
    display: flex;
    justify-content: space-between; /* Space between logo and navigation */
    padding: 20px 0; /* Adjust padding as needed */
    align-items: center; /* Vertically center items */
    position: absolute; /* Position the header on top */
    width: 100%; /* Full width of the container */
    top: 0; /* Stick to the top of the container */
    z-index: 2; /* Ensure header is above overlay */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white; /* Ensure the logo text is white */
    text-decoration: none; /* Remove underline if the logo is a link */
}

.nav a {
    padding: 10px 10px; /* Add padding inside each link */
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    
}

.nav {
    margin-right: 50px;
}

.quoteButton {
    background-color: #4A90E2;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.whiteText {
  color: white;
}

.main {
    position: relative; /* Ensure main content is positioned correctly */
    z-index: 1; /* Ensure main content is above the background */
    max-width: 600px; /* Optionally limit width for better readability */
    margin-left: 30px; /* Ensure all content aligns with the left padding of description */
  }

.title {
    font-size: 30px;
    margin: 0 0 10px; /* Remove default margin, add space below */
  }
  
  .subtitle {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 20px; /* Remove default margin, add space below */
  }
  
  .description {
    font-family: 'Roboto', sans-serif; /* Custom font */
    font-size: 24px; /* Increase the font size */
    line-height: 1.5; /* Adjust line height */
    color: #ffffff; /* Text color */
    text-align: left; /* Align text to the left */
    padding-left: 0; /* Remove padding for consistency */
    max-width: 100%; /* Ensure text doesn't stretch too wide */
    margin: 0 0 30px; /* Remove auto centering, add bottom margin */
    height: 100px; /* Adjust based on your design needs */
    overflow: hidden;
  }

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Adjust opacity as needed */
    z-index: -1;
}

.containerAbout::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust opacity as needed */
  z-index: -1;
}

.getStartedButton {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(43deg, #391010 0%, #e62222 46%, #f7f7f7 150%);
    /* background-color: #4A90E2; */
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    align-self: self-start;
  
    
}

.knowMore {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(43deg, #000000 0%, #e62222 46%, #f7f7f7 150%);
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  align-self: self-start;
  width: 200px;
}

.newSection {
  background-color: #ffffff; /* Light background color for contrast */
  padding-top: 40px; /*Add padding around the section */ 
  text-align: center; /* Center align text */
  margin-top: 20px; /* Add space above the section */
  position: relative;
  z-index: 1; /* Ensure it's above the background */
}

.newSection h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4A5568;
    font-size: 40px; /* Adjust font size for heading */
    margin-bottom: 20px; /* Space below heading */
}
.newSection h1 {
  padding-top: 60px;
  font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 40px; /* Adjust font size for heading */
    margin-bottom: 20px; /* Space below heading */
}

.cater {
  font-size: 20px; /* Adjust font size for paragraph */
    line-height: 1.5; /* Adjust line height */
    max-width: 800px; /* Limit width for readability */
    margin: 0 auto ; /* Center align paragraph */
    margin-top: 0px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    color: #4A5568;
    align-items: center;
    font-style: italic;
    flex-direction: row;
    padding: 12px;
}

.expertise {
  font-size: 30px; /* Adjust font size for paragraph */
    line-height: 1.5; /* Adjust line height */
    max-width: 800px; /* Limit width for readability */
    margin: 0 auto ; /* Center align paragraph */
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    color: rgba(0, 21, 255, 0.399);
    align-items: center;
    flex-direction: row;
    font-weight: bold;
}




.newSection .threeDivs {
  display: flex; /* Use flexbox to arrange the divs */
  flex-wrap: wrap; /* Allow wrapping if needed */
  gap: 30px; /* Space between the divs */
  justify-content: center; /* Center align items horizontally */
}

.newSection .threeDivs .divItem {
  background-color: #ffffffc1; /* Transparent background */
  padding: 20px; /* Add padding inside each div */
  border-radius: 20px; /* Adjust to make it a square with rounded corners */
  border: 2px solid #000; /* Initial border color (will be overridden by JS) */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  width: 100%; /* Full width within the container */
  max-width: 300px; /* Max width for each div */
  text-align: center; /* Center align text inside divs */
  display: flex; /* Use flexbox to center content inside */
  flex-direction: column; /* Arrange content vertically */
  align-items: center; /* Horizontally center content */
}

.newSection .threeDivs .solutionDivItem {
  margin: 50px;
  background-color: transparent; /* Transparent background */ 
  width: 100%; /* Full width within the container */
  max-width: 300px; /* Max width for each div */
  text-align: center; /* Center align text inside divs */
  display: flex; /* Use flexbox to center content inside */
  flex-direction: column; /* Arrange content vertically */
  align-items: center; /* Horizontally center content */
}

.newSection .threeDivs .solutionDivItem img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container without distortion */
  
}

.newSection .threeDivs .solutionDivItem p {
  background-color: #0c2f97;; /* Background color for caption */
  color: #fff; /* Text color for caption */
  width: 100%; /* Full width */
  padding: 10px; /* Padding inside caption */
  
  text-align: center; /* Center align text */
}


.newSection .threeDivs .divItem img {
  margin-top: 20px;
  max-width: 100%; /* Ensure image scales with the div */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Rounded corners for images */
  margin-bottom: 10px; /* Space below the image */
}

.newSection .threeDivs .divItem h3 {
  font-size: 24px; /* Font size for headings inside each div */
  margin-top: 10px; /* Space above heading */
}

.newSection .threeDivs .divItem p {
  font-size: 16px; /* Font size for paragraphs inside each div */
  color: #333; /* Text color */
}

.space {
  height: 20px;
}

.newSection .space {
    height: 20px;
  }

  .clientele {
    background-color: white; /* Background color for the footer */
    color: #fff; /* Text color */
    padding: 20px; /* Padding around the footer */
    flex-direction: column;
    display: flex; /* Use flexbox to arrange columns */
    justify-content: space-between; /* Space between columns */
    margin-top: 10px; 
    margin-bottom: 10px;
    align-items: center;
  }

  .clientele h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    color: #4A5568;
    padding-bottom: 5px; /* Padding below the header */
    margin-bottom: 10px; /* Margin below the header */
    align-items: start;
   
  }
  .clientele .space{
    height: 20px;
  }
  .footerContainer {
    background:  linear-gradient(43deg, #000000 0%, #e62222 46%, #f7f7f7 100%); /* Background color for the footer */
    color: #fff; /* Text color */
    padding: 20px; /* Padding around the footer */
    margin-top: 20px;
    display: flex; /* Use flexbox to arrange columns */
    justify-content: space-between; /* Space between columns */
  }
  
  .footerColumn {
    flex: 1; /* Allow columns to take equal width */
    margin: 0 10px; /* Margin between columns */
  }
  
  .row {
    display: flex; /* Use flexbox to arrange items in a row */
    align-items: center; /* Vertically center items */
    margin-bottom: 10px; /* Add some space below the row */
  }

  .footerColumn h3 {
    border-bottom: 2px solid #fff; /* Underline for headers */
    padding-bottom: 5px; /* Padding below the header */
    margin-bottom: 10px; /* Margin below the header */
  }
  
  .footerColumn ul {
    list-style: none; /* Remove list style */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
  }
  
  .footerColumn ul li {
    margin-bottom: 10px; /* Margin between list items */
  }
  
  .contactInfo,
  .contactInfo p,
  .contactInfo a {
    color: #fff; /* Text color for contact info */
  }
  
  .contactInfo a {
    text-decoration: none; /* Remove underline from links */
  }
  
  .contactInfo a:hover {
    text-decoration: underline; /* Underline on hover */
  }
  
  .socialLinks img {
    width: 24px; /* Adjust the size of the social icons */
    height: 24px; /* Adjust the size of the social icons */
    margin-right: 10px; /* Space between icons */
  }
  .brandPartnersContainer {
    text-align: center; /* Center align text */
    margin: 20px 0; /* Margin around the container */
  }
  
  .brandPartnersContainer h2 {
    font-size: 24px; /* Font size for the header */
    font-weight: bold; /* Bold font for the header */
    margin-bottom: 20px; /* Margin below the header */
  }
  
  .logosContainer {
    display: flex; /* Use flexbox to arrange logos */
    justify-content: space-around; /* Space logos evenly */
    align-items: center; /* Center align logos vertically */
    flex-wrap: wrap; /* Wrap logos to next line if needed */
    padding-bottom: 80px;
  }
  
  .logo {
    max-height: 100px; /* Maximum height for logos */
    margin: 10px; /* Margin around logos */
  }

  .clientLogoContainer {
    overflow: hidden; /* Hide overflowing content */
    white-space: nowrap; /* Prevent line breaks */
    position: relative;
    width: 100%; /* Full width of its container */
  }
  
  .scrollContent {
    display: flex;
    width: calc(200%); /* Double the width of the container to hold both the original and duplicated content */
    animation: scroll 20s linear infinite; /* Adjust duration for smoother scrolling */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .clientLogo {
    max-height: 100px;
    display: inline-block;
    margin: 0 20px; /* Adjust spacing as needed */
  }

 

  .horizontalLine {
    width: 100%; /* Full width of the screen */
    height: 4px; /* Thickness of the line */
    background-color: #0c36b3; /* Blue color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for design */
    margin: 20px 0; /* Margin above and below the line */
  }

  .brandPartner {
    background-color: #242fffb3; /* White background */
    border: 2px solid #0c36b3; /* Blue border */
    border-radius: 20px; /* Rounded corners */
    width: auto; /* Full screen width */
    height: 500px; /* Fixed height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional subtle shadow for design */
    margin: 20px 0; /* Optional margin for spacing */
    display: flex; /* Optional: Flexbox for content alignment */
    justify-content: space-around; /* Optional: Center content horizontally */
    align-items: center; /* Optional: Center content vertically */
    margin: 20px;
  }